# This file is Free Software under the Apache-2.0 License
# without warranty, see README.md and LICENSES/Apache-2.0.txt for details.
#
# SPDX-License-Identifier: Apache-2.0
#
# SPDX-FileCopyrightText: 2024 German Federal Office for Information Security (BSI) <https://www.bsi.bund.de>
#  Software-Engineering: 2024 Intevation GmbH <https://intevation.de>

# Where to reach the application's keycloak-instance
PUBLIC_KEYCLOAK_URL="http://localhost:8080"

# The name of the keycloak-realm managing all ISDuBA accounts
PUBLIC_KEYCLOAK_REALM="isduba"

# The name of the keycloak-client that can request the authentification of a user
# See the setup scripts for how to configure a client
PUBLIC_KEYCLOAK_CLIENTID="auth"

# The frequency of authentification-token updates in minutes
# Unless conflicting with the session length 
# (see https://github.com/ISDuBA/ISDuBA/blob/main/docs/keycloak_values.md)
# this value determines how frequently the application checks whether
# a session is still valid
PUBLIC_UPDATE_INTERVALL=5

# Where to reach the application
# This will be to where the profile page from the
# keycloak profile will redirect users to
PUBLIC_APPLICATION_URI="http://localhost:5173/"

# The required number of minutes of inactivity, which
# lead to a user being logged out as a safety measure
PUBLIC_IDLE_TIMEOUT=30
