#This file is Free Software under the Apache-2.0 License
#without warranty, see README.md and LICENSES/Apache-2.0.txt for details.
#
#SPDX-License-Identifier: Apache-2.0
#
#SPDX-FileCopyrightText: 2024 German Federal Office for Information Security (BSI) <https://www.bsi.bund.de>
#Software-Engineering: 2024 Intevation GmbH <https://intevation.de>

# [general]
# advisory_upload_limit = "512K"
# anonymous_event_logging = false
# allowed_ports = [80, 443]
# block_loopback = true
# blocked_ranges = [
#      "127.0.0.0/8",    # IPv4 loopback
#      "10.0.0.0/8",     # RFC1918
#      "172.16.0.0/12",  # RFC1918
#      "192.168.0.0/16", # RFC1918
#      "169.254.0.0/16", # RFC3927 link-local
#      "::1/128",        # IPv6 loopback
#      "fe80::/10",      # IPv6 link-local
#      "fc00::/7"        # IPv6 unique local addr
# ]
# allowed_ips = []

# [log]
# file = "isduba.log"
# level = "info"
# source = false
# json = false

# [keycloak]
# url = "http://localhost:8080"
# realm = "isduba"
# certs_caching = "8h"
# timeout = "30s"
# full_certs_path = ""

# [web]
# host = "localhost"
# port = 8081
# gin_mode = "release"
# static = "web"

# [database]
# host = "localhost"
# port = 5432
# database = "isduba"
# user = "isduba"
# password = "isduba"
# admin_user = "postgres"
# admin_database = "postgres"
# admin_password = "postgres"
# migrate = false
# terminate_after_migration = true
# max_query_time = "30s"

# [temp_storage]
# storage_duration = "30m"
# files_total = 10
# files_user = 2

# [publishers_tlps]
# '*' = ["WHITE"]

# [sources]
# strict_mode = true
# secure = true
# signature_check = true
# download_slots = 100
# max_slots_per_source = 2
# max_rate_per_source = 0
# openpgp_caching = "24h"
# feed_refresh = "15m"
# feed_log_level = "info"
# feed_importer = "feedimporter"
# publishers_tlps = { "*" = [ "WHITE", "GREEN", "AMBER", "RED" ] }
# default_message = """Missing something? \
#                      To suggest new CSAF sources, \
#                      please contact your CSAF source manager. \
#                      Otherwise contact your administrator."""
# aes_key = ""
# timeout = "30s"
# default_age = "17520h"
# checking = "2h"
# keep_feed_logs = "2232h"

# [remote_validator]
# url = ""
# presets = [ "mandatory" ]
# cache = ""

# [client]
# keycloak_url = "{{keycloak.url}}"
# keycloak_realm = "isduba"
# keycloak_client_id = "auth"
# update_interval = "5m"
# idle_timeout = "30m"

# [forwarder]
# update_interval = "5m"
# strategy = "all" # valid values: "all", "important"

## These are example targets to show the forwarder target syntax.
## [[forwarder.target]]
## automatic = true
## name = "First example target"
## url = "http://example.com/api/v1/import"
## publisher = "publisher-name"
## header = [ "x-api-key:secret" ]
## private_cert = "private-cert-file"
## public_cert = "public-cert-file"
## strategy = "all" # optional. If not set the strategy value of forwarder is used.
##
## [[forwarder.target]]
## automatic = false
## name = "Second example target"
## url = "https://example.org/api/v1/import"
## header = [ "x-api-key:secret" ]
## timeout = "5s"
## strategy = "important" # optional. If not set the strategy value of forwarder is used.

# [aggregators]
# timeout = "30s"
# update_interval = "2h"
