# This file is Free Software under the Apache-2.0 License
# without warranty, see README.md and LICENSES/Apache-2.0.txt for details.
#
# SPDX-License-Identifier: Apache-2.0
#
# SPDX-FileCopyrightText: 2024 German Federal Office for Information Security (BSI) <https://www.bsi.bund.de>
# Software-Engineering: 2024 Intevation GmbH <https://intevation.de>

name: generate-markdown

on:
  workflow_dispatch:
  push:
    branches:
      - "main"
      - "markdown-autodocs"
  pull_request:
    branches:
      - "main"
jobs:
  auto-update-readme:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v6
        - name: Markdown autodocs
          uses: dineshsonachalam/markdown-autodocs@v1.0.4
          with:
            output_file_paths: '[./README.md, ./docs/*.md]'
