# This file is Free Software under the Apache-2.0 License
# without warranty, see README.md and LICENSES/Apache-2.0.txt for details.
#
# SPDX-License-Identifier: Apache-2.0
#
# SPDX-FileCopyrightText: 2023 German Federal Office for Information Security (BSI) <https://www.bsi.bund.de>
# Software-Engineering: 2023 Intevation GmbH <https://intevation.de>

name: Playwright Tests
on:
  push:
  pull_request:
    branches: [main]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-24.04
    env:
      BUILD_COVER: "true"
      GOCOVERDIR: "/tmp/cov"
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
      - name: test installation scripts and playwright tests
        run: |
          mkdir /tmp/cov
          cd docs/scripts
          ./setup.sh --quick
          ./start_all.sh
          cd ../../client
          npm run cover
          cd ../
          killall "-2" --wait isdubad
          go tool covdata textfmt -i=/tmp/cov -o coverage.out
          go tool cover -func=coverage.out
        shell: bash
      - uses: actions/upload-artifact@v6
        if: always()
        with:
          name: monocart-report
          path: client/test-results/monocart-report
          retention-days: 30
      - uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: playwright-output
          path: client/playwright/output/ ## Folder used in playwright.config.js `outputDir`
          retention-days: 30
